body {
  background-color: #E1DEE7;
}

.white {
  color: white;
}

.about-us {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sanchez';
  font-size: 16px;
}

.about-us .bold {
  font-weight: 800;
  font-size: 15px;
}

.about-us .thin {
  font-weight: 100;
  font-size: 15px;
}

.about-us h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.about-us header {
  background-color: #964B00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.about-us header .left .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us header .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us header .right img {
  width: 35rem;
}

.about-us header .right .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us header .right .nav a {
  color: white;
  text-decoration: none;
}

.about-us main img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.about-us main .wrapper .left {
  font-family: 'Inter';
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
  height: 90vh;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
}

.about-us main .wrapper .left .colom {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.about-us main .wrapper .left .colom .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.about-us main .wrapper .left .colom .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us main .wrapper .left .colom .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.about-us main .wrapper .left .colom .content {
  width: 90%;
  display: -ms-grid;
  display: grid;
}

.about-us main .wrapper .left .colom .content span {
  font-size: 2rem;
}

.about-us main .wrapper .left .colom .content p {
  font-size: 1rem;
}

.about-us main .wrapper .left .colom .content img {
  width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us main .wrapper .left .griditem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.about-us main .wrapper .left .griditem img {
  height: 80px;
  width: auto;
}

.about-us main .wrapper .left .textleft {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.about-us main .wrapper .left .textleft .textcontent {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  width: 500px;
  color: #7A4B1D;
}

.about-us main .wrapper .right {
  padding-left: 30px;
  padding-right: 30px;
  word-spacing: 15px;
  font-family: 'Inter';
  font-style: normal;
  width: 50%;
}

.about-us main .wrapper .right .misi-wrapper {
  position: relative;
}

.about-us main .wrapper .right .misi-wrapper .pic {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 4rem;
}

.about-us main .wrapper .right .misi {
  padding-top: 40px;
  position: relative;
}

.about-us main .wrapper .right h1 {
  font-size: 2rem;
}

.about-us main .wrapper .right p {
  font-size: 1.2rem;
}

.about-us main .wrapper .right li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer {
  word-spacing: 5px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-size: 1rem;
  background-color: #837A7A;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 200px;
          column-gap: 200px;
}

footer span {
  font-weight: bold;
}

footer .telp {
  line-height: 0px;
  padding-bottom: 0.2px;
}

footer .office {
  line-height: 0px;
}

footer .mid-foot {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}
/*# sourceMappingURL=about.css.map */